<footer>
    <link rel="stylesheet" href="/css/<%= cssFile %>.css"> <!-- Dynamic CSS file -->
    <div class="container">
        <p>&copy; 2025 Tradaa. All rights reserved.</p>
    </div>
</footer>
</body>
</html>